.the-table {
    background-color: #277714;
    border: 5px solid #663366;
    margin-top: 50px;
    padding: 30px 0;
    color: #fff;
    border-radius: 10px 10px 50% 50%;
    box-shadow: 8px 10px 5px rgba(0,0,0,.14), 0 8px 10px rgba(0,0,0,.28);
    position: relative;
    transform: perspective(1200px) rotateX(15deg);
}

.card {
    height: 120px;
    background-color: #277714;
    color: black;
    margin: 10px;
    width: 12.6%;
    float: left;
    /*padding: 10px;*/
    /*border: 1px solid yellow;*/
}

img {
    /*width: 100%;*/
    height: 100%;
    /*position: absolute;*/
    border-radius: 5px;

}

body {
    background-color: #cacaca;
}

.controls {
    margin-top: 50px;
    color: black;
    margin-bottom: 30px;


}
